<div *ngIf="employee" class="bg-white md:w-1/3 md:container md:mx-auto mx-6 my-12 rounded p-7">
  <h2 class="text-lg font-semibold mb-5">{{ employee.firstName }} {{ employee.lastName }}</h2>
  <p class="my-2">Email: {{ employee.email }}</p>
  <p class="my-2">Birthdate: {{ employee.birthDate | dateFormat:'dd MMMM yyyy' }}</p>
  <p class="my-2">Salary: {{ employee.basicSalary | rupiah }}</p>
  <p class="my-2">Status: {{ employee.status }}</p>
  <p class="my-2">Group: {{ employee.group }}</p>
  <p class="my-2">Description: {{ employee.description | dateFormat:'dd MMMM yyyy' }}</p>
  <div class="flex justify-end">
    <button class="btn btn-info rounded" (click)="goBack()">Ok</button>
  </div>

</div>
