<div class="md:w-1/2 md:container md:mx-auto mx-5 my-12">
  <a routerLink="/add-employee" class="px-4 py-3 rounded border border-[#459dda] hover:bg-[#459dda] hover:text-white">Add Employee</a>
  <div class="flex md:flex-row flex-col mt-7">
    <input
    class="grow md:mr-28 px-3 md:py-0 py-2 rounded"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (input)="onSearchInput(searchTerm)"
      (keydown.enter)="onEnterPressed(searchTerm)"
    />
    <div class="flex flex-row md:justify-start justify-between md:mt-0 mt-3">
      <div class="mr-4 ml-1 md:ml-0">
    Page size:
    <select [(ngModel)]="pageSize" class="px-2 py-1 rounded border" (change)="onChangePageSize()">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <!-- Add other page size options as needed -->
    </select>
  </div>
      <div class="mr-4 ml-1 md:ml-0">
        Sort by:
      <select [(ngModel)]="sortBy" class="px-2 py-1 rounded border" (change)="onChangeSort()">
        <option value="firstName">First Name</option>
        <option value="lastName">Last Name</option>
        <!-- Add other properties for sorting -->
      </select>
      </div>
      <label class="flex items-center relative w-max cursor-pointer select-none pt-6 md:pt-0">
        <input type="checkbox" class="appearance-none transition-colors cursor-pointer w-[3.8rem] h-7 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-black focus:ring-blue-500 bg-red-500 peer" [checked]="sortAscending" (click)="toggleSortOrder()" />
        <span class="absolute font-medium text-[10px] uppercase right-1 text-white"> ASC </span>
        <span class="absolute font-medium text-[10px] uppercase right-8 text-white"> DESC </span>
        <span class="w-7 h-7 absolute rounded-full transform transition-transform ease-out bg-gray-200" [ngClass]="sortAscending ? 'peer-checked:right-[3.79rem]' :'right-0'"></span>
      </label>
    </div>
  </div>
  <ul>
    <li *ngFor="let employee of employees;" class="border border-gray-300 bg-white shadow rounded-md py-4 px-2 my-4">
      <div class="flex flex-row justify-between">
        <p>{{ employee.firstName }} {{ employee.lastName }} <span class="ml-3">({{employee.status}})</span></p>
        <div>
          <button class="mr-2" [routerLink]="['/employee', employee.id]">
            <svg width="20px" height="20px" viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48">
              <circle fill="#2196F3" cx="24" cy="24" r="21"/>
              <rect x="22" y="22" fill="#ffffff" width="4" height="11"/>
              <circle fill="#ffffff" cx="24" cy="16.5" r="2.5"/>
            </svg>
          </button>
          <button class="mr-2" (click)="onUpdate()">
            <svg fill="darkorange" width="20px" height="20px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"><path d="M21.561 5.318l-2.879-2.879c-.293-.293-.677-.439-1.061-.439-.385 0-.768.146-1.061.439l-3.56 3.561h-9c-.552 0-1 .447-1 1v13c0 .553.448 1 1 1h13c.552 0 1-.447 1-1v-9l3.561-3.561c.293-.293.439-.677.439-1.061s-.146-.767-.439-1.06zm-10.061 9.354l-2.172-2.172 6.293-6.293 2.172 2.172-6.293 6.293zm-2.561-1.339l1.756 1.728-1.695-.061-.061-1.667zm7.061 5.667h-11v-11h6l-3.18 3.18c-.293.293-.478.812-.629 1.289-.16.5-.191 1.056-.191 1.47v3.061h3.061c.414 0 1.108-.1 1.571-.29.464-.19.896-.347 1.188-.64l3.18-3.07v6zm2.5-11.328l-2.172-2.172 1.293-1.293 2.171 2.172-1.292 1.293z"/></svg>
          </button>
          <button class="" (click)="onDelete()">
            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4V4zm2 2h6V4H9v2zM6.074 8l.857 12H17.07l.857-12H6.074zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1z" fill="darkred"/></svg>
          </button>
        </div>
      </div>
    </li>
  </ul>
  <div class="pagination flex justify-center mt-3">
    <button class="px-4 py-2 border-2 rounded disabled:bg-slate-200 bg-[#459dda] mx-6" (click)="loadPage(currentPage - 1)" [disabled]="currentPage === 1">
      Previous
    </button>
    <span class="px-4 py-2 bg-white"> {{ currentPage }} / {{ totalPages }} </span>
    <button
      class="px-4 py-2 border rounded  disabled:bg-slate-200 bg-[#459dda] mx-6"
      (click)="loadPage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
  <div class="toast toast-top toast-center">
    <div class="alert alert-warning rounded md:pr-0" *ngIf="isUpdate">
      <span>Open Update</span>
    </div>
    <div class="alert alert-error rounded md:pr-0" *ngIf="isDelete">
      <span>Delete Employee</span>
    </div>
  </div>
</div>
