<div class="bg-white md:w-1/2 md:container md:mx-auto mx-6 my-12 rounded p-7">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="flex flex-col w-full">
    <div class="flex md:flex-row flex-col w-full my-4">
      <label class="mr-8" for="username">Username:</label>
      <input
        type="text"
        id="username"
        placeholder="Username"
        class="input input-bordered rounded grow mr-5 focus:outline-none focus:border-[#459dda] focus:border-2"
        formControlName="username"
      />
    </div>
    <div class="flex md:flex-row flex-col w-full my-4">
      <label class="mr-7" for="firstName">First Name:</label>
      <input
        type="text"
        id="firstName"
        placeholder="First Name"
        class="input input-bordered rounded grow mr-5 focus:outline-none focus:border-[#459dda] focus:border-2"
        formControlName="firstName"
      />
    </div>
    <div class="flex md:flex-row flex-col w-full my-4">
      <label class="mr-[1.9rem]" for="lastName">Last Name:</label>
      <input
        type="text"
        id="lastName"
        placeholder="Last Name"
        class="input input-bordered rounded grow mr-5 focus:outline-none focus:border-[#459dda] focus:border-2"
        formControlName="lastName"
      />
    </div>
    <div class="flex md:flex-row flex-col w-full my-4">
      <label class="mr-[4.2rem]" for="email">Email:</label>
      <div class="flex flex-col grow mr-5">
        <input
          type="text"
          id="email"
          placeholder="Email"
          class="input input-bordered rounded focus:outline-none focus:border-[#459dda] focus:border-2"
          formControlName="email"
        />
        <div
          *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)"
          class="text-red-600 text-sm mt-1"
        >
          <div *ngIf="emailControl?.hasError('required')">Email is required.</div>
          <div *ngIf="emailControl?.hasError('email')">Invalid email format.</div>
        </div>
      </div>
    </div>
    <div class="flex md:flex-row flex-col w-full my-4">
      <label for="birthDate" class="mr-[2rem]">Birth Date:</label>
      <input
        type="date"
        id="birthDate"
        class="input input-bordered rounded grow focus:outline-none mr-5 focus:border-[#459dda] focus:border-2"
        [max]="getCurrDate()"
        formControlName="birthDate"
      />
    </div>
    <div class="flex md:flex-row flex-col w-full my-4">
      <label class="mr-[1.3rem]" for="lastName">Basic Salary:</label>
      <input
        type="number"
        id="lastName"
        placeholder="Basic Salary"
        class="input input-bordered rounded grow mr-5 focus:outline-none focus:border-[#459dda] focus:border-2"
        formControlName="basicSalary"
      />
    </div>
    <div class="flex md:flex-row flex-col w-full my-4">
      <label for="group" class="mr-[3.8rem]">Status:</label>
      <div class="relative mt-1  mr-5 grow">
         <select id="group" class="w-full p-3 bg-white border-2 rounded" formControlName="status">
          <option value="" disabled>Select status</option>
          <ng-container *ngFor="let status of availStatus">
            <option [value]="status">{{ status }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="flex md:flex-row flex-col w-full my-4">
      <label for="group" class="mr-[3.8rem]">Group:</label>
      <div class="relative mt-1  mr-5 grow">
        <input type="text" class="input input-bordered rounded w-full focus:outline-none focus:border-[#459dda] focus:border-2"
              placeholder="Search groups..."
              (input)="filterGroups($event)"
              (focus)="toggleFocus()"
              (blur)="clearFilteredGroups()"
              [value]="selectedGroup"> <!-- Bind the value to selectedGroup -->
        <ul *ngIf="hasFocus && filteredGroups.length > 0" class="absolute z-10 mt-1 w-full max-h-40 overflow-auto bg-white border border-gray-300 rounded shadow">
          <li *ngFor="let group of filteredGroups">
            <button type="button" class="block w-full px-4 py-2 text-left hover:bg-gray-100"
                    (mousedown)="selectGroup(group)">
              {{ group }}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex md:flex-row flex-col w-full my-4">
      <label class="mr-[1.3rem]" for="lastName">Description:</label>
      <input
        type="date"
        id="birthDate"
        class="input input-bordered rounded grow focus:outline-none mr-5 focus:border-[#459dda] focus:border-2"
        [max]="getCurrDate()"
        formControlName="description"
      />
    </div>
    <div class="flex md:flex-row flex-col-reverse justify-end mr-4">
      <button class="btn btn-ghost md:mr-5 rounded" (click)="goBack()">Cancel</button>
      <button
        type="submit"
        class="btn btn-outline border-[#459dda] border-2 hover:bg-[#459dda] hover:border-[#459dda] hover:text-white rounded"
        [disabled]="employeeForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
